div.favorites-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 80vh;
  
}

#favorites-pictures {
    height: 200px;
    
}

input.edit-Input {
    display: flex;
    margin-left: 50vh;
}
